#textbox{
  border: 2px solid black;
}

.btn{
  background-color: black;
  color: white;
}

.btn:hover{
  background-color: #198754;
  color: white;
}

.form-label{
  font-size: large;
  font-family: 'Times New Roman', Times, serif;
}

.mode{
    background-color: black;
    color: white;
}


textarea.mode::placeholder {
  color: rgb(199, 198, 198);
}


textarea.mode{
  color: white !important;
  background-color: black !important;
}

textarea.change-color{
  color: red !important;
}

.alert-height{
  height: 3rem;
}

 button.btn.btn-disabled{
  opacity: 0.5; 
  cursor: not-allowed;
  background-color: #d3d3d3; 
  color: #999; 
  border: 1px solid #ccc;
}

.btn-mode{
  background-color: white;
  color: black;
} 